*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    position: sticky;
    top: 0;
}

html{
    /* Add padding from top while scrolling */
    scroll-padding-top: 78px;

    /* smooth scrolling property */
    scroll-behavior: smooth;
}

.header{
    background-image: url('../assets/b2.jpg');
    height: 100vh;
    margin: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.menu{
    background-color: blueviolet;
    text-align: center;
}

.menu ul{
    list-style: none;
    display: inline-flex;
    
}
.menu ul li{
    width: 150px;
    margin: 15px;
    padding: 15px;
}

.menu ul li a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.fa{
    margin-right: 5px;
}

.menu ul li:hover{
    background-color: gold;
}


h1{
    text-align: center;
    margin-top: 40px;
}

h2{
    margin-top: 10px;
    margin-bottom: 15px;
}

.circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: orange;
    margin-right: 95px;
}
.circlecontainer{
    display: inline-flex;
    margin-top: 35px;
    margin-left: 215px;
    margin-bottom: 40px;
}

.main{
    width: 750px;
    height: 600px;
    background-color: rgb(42, 151, 165);
    padding: 10px;
}
.artical{
    width: 740px;
    height: 194px;
    background-color: crimson;
    margin-left: 10px;
    margin-bottom: 9px;
}
.mainsec{
    display: inline-flex;
    margin-top: 35px;
    margin-bottom: 40px;
    margin-left: 10px;
}

#im1{
    background-image: url('../assets/u1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200px;
}

#im2{
    background-image: url('../assets/u2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200px;
}

#im3{
    background-image: url('../assets/u3.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200px;
}

#im4{
    background-image: url('../assets/u4.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200px;
}

#p1{
    background-image: url('../assets/ithtml.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

#p2{
    background-image: url('../assets/itcss.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

#p3{
    background-image: url('../assets/itjs.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

.container{
    display: inline-flex;
    margin-left: 67px;
    margin-top: 40px;
}
.box{
    width: 300px;
    height: 400px;
    border: 2px solid black;
    border-radius: 10px;
    margin-left: 35px;
}
.box img{
    width: 90%;
    padding: 15px;
}
.box h4{
    text-align: center;

}
.box p{
    text-align: justify;
    padding: 10px;
    padding-top: 0px;
}
.button{
    display: block;
    margin-top: 15px;
    margin: 10px;
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 10px 20px;
    border-radius: 8px;
}
.button:hover{
    background-color: blue;
}
#boxcolor1{
    background-color: orange;
}   
#boxcolor2{
    background-color: rgb(210, 177, 30);
}
#boxcolor3{
    background-color: cadetblue;
}
#boxcolor4{
    background-color: greenyellow;
}

.tech{
    margin-bottom: 35px;
}

.contact{
    width: auto;
    height: 85px;
    background-color: darkkhaki;
    color: black;
    margin-top: 25px;
}